bytetracker==0.3.2
dsntnn==0.5.3
json_tricks==3.16.1
matplotlib==3.6.2
numpy==1.24.1
onnxruntime==1.12.1
opencv_python==4.7.0.68
pandas==1.5.3
Pillow==9.4.0
Pillow==10.0.0
Requests==2.31.0
scipy==1.10.1
torch==2.0.1
torchvision==0.15.2a0
tqdm==4.64.1
wget==3.2
